In [4]:
pip install faker

Requirement already satisfied: faker in /Users/mericcapar/anaconda3/lib/python3.11/site-packages (23.2.1)
Requirement already satisfied: python-dateutil>=2.4 in /Users/mericcapar/anaconda3/lib/python3.11/site-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /Users/mericcapar/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.4->faker) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
from faker import Faker
fake = Faker('tr_TR')

In [3]:
fake.name()

'Nebih Sakarya'

In [17]:
print(fake.email())
print(fake.country())
print(fake.name())
print(fake.text())
print(fake.latitude(), fake.longitude())
print(fake.url())

nzamettn55@example.com
Sri Lanka
Rengül Duran
Accusamus repudiandae necessitatibus odio commodi delectus sequi. Recusandae eos libero rem molestias nesciunt eveniet.
76.2226885 146.761813
http://basf.org/

In [18]:
fake.profile()

{'job': 'Gitarist',
 'company': 'Arslan Akça Şti.',
 'ssn': '84840866756',
 'residence': '978 Şevketfeza Court Suite 868\nNorth Yıldız, AR 22449',
 'current_location': (Decimal('-85.165912'), Decimal('-114.229265')),
 'blood_group': 'AB-',
 'website': ['http://dumanli.net/'],
 'username': 'erenalp96',
 'name': 'Dr. İlper Arıpınar Bilgin Ertaş',
 'sex': 'F',
 'address': '6541 Sezgin Causeway\nLake Meryemeburgh, SD 18826',
 'mail': 'zerafet97@hotmail.com',
 'birthdate': datetime.date(1921, 6, 6)}

In [4]:
school_list = ['Fen Bilimleri', "Akk Merkez","Dayanisma Okullari",'Bogazici','Gul Okullari','Portakal Okullari','Koyun Okullari',
              'Sevgi Okullari','Maya Okullari','Spor Okullari'] #10 adet okul var.
campus = ['Antalya','Isparta','Izmir','Mersin','Adana','Istanbul','Diyarbakir','Kayseri','Erzurum','Bandirma','Aydin',
         'Gumushane','Kastamonu','Kocaeli','Karaman','Marmaris','Eskisehir','Izmit','Adiyaman','Hatay']#20 adet campus var

In [5]:
from random import randint 
import pandas as pd 

data = pd.DataFrame()
for i in range(0, 250):
    for j in range(0,1):
        data.loc[i,'School Name']= fake.word(ext_word_list = school_list)
    for j in range(0,1):
        data.loc[i,'Campus']= fake.word(ext_word_list = campus)
    
    data.loc[i,'Grade']= round(randint(1,11))
    data.loc[i,'Student ID']= randint(1000,9999)
    data.loc[i,'Student Name'] = fake.name()
    data.loc[i,'Lesson Attended'] = randint(1,20)
    data.loc[i,'Total Lessons'] = 20
    data.loc[i,'Attendance Percentage'] = (data.loc[i,'Lesson Attended'] / data.loc[i,'Total Lessons']) * 100
data

,School Name,Campus,Grade,Student ID,Student Name,Lesson Attended,Total Lessons,Attendance Percentage
0,Maya Okullari,Adana,11.0,3351.0,Yrd. Doç. Banü İhsanoğlu Aksu,13.0,20.0,65.0
1,Gul Okullari,Adana,10.0,6679.0,Yrd. Doç. Özbay Sahir Seven,10.0,20.0,50.0
2,Koyun Okullari,Gumushane,9.0,6691.0,Uz. Tarancı Ekber Demirel,13.0,20.0,65.0
3,Koyun Okullari,Marmaris,1.0,3129.0,Bayan Nurda Çetin Ülker,19.0,20.0,95.0
4,Sevgi Okullari,Bandirma,4.0,2561.0,Rabbiye Şener,18.0,20.0,90.0
...,...,...,...,...,...,...,...,...
245,Sevgi Okullari,Eskisehir,8.0,7720.0,Onursu Yorulmaz,7.0,20.0,35.0
246,Fen Bilimleri,Gumushane,7.0,3791.0,Aru Akar,14.0,20.0,70.0
247,Spor Okullari,Mersin,4.0,7195.0,Avşin Sakarya,7.0,20.0,35.0
248,Portakal Okullari,Bandirma,2.0,1469.0,Aygutalp Koray Akçay,3.0,20.0,15.0
249,Akk Merkez,Istanbul,9.0,7965.0,Öğr. Göknur Çetin,20.0,20.0,100.0

In [ ]:
#Cevap aranan sorular:

Kac farkli okul kaydimiz var?
*Hangi okullarin birden fazla kampusu olabilir?
*Hangi okuldan kac farkli sinif kaydimiz var? #?
*Hangi okuldan kac farkli derecede ogrenci kaydimiz var (1, 2, 3 ,4. sinif vs) #?
*Kardesiyle birlikte kaydolmus olan ogrenci olma olasiligi hangisi? #?
*Hangi okul en cok/en az ogrenci katilim yuzdesine sahip?
*Hangi okuldan hangi sinif en cok/en az ogrenci katilim yuzdesine sahip?
*En cok/en az katilim kacinci siniflarda oluyor?
*Tum okullar bazinda en cok/ en az hangi ogrenci derslere katilim saglamis?

In [6]:
len(data['School Name'].unique())

10

In [7]:
data.groupby('School Name')['Campus'].nunique() #Birden fazla kampusu olan ve campus sayilari

School Name
Akk Merkez            13
Bogazici              16
Dayanisma Okullari    13
Fen Bilimleri         15
Gul Okullari          16
Koyun Okullari        16
Maya Okullari         15
Portakal Okullari     15
Sevgi Okullari        15
Spor Okullari         14
Name: Campus, dtype: int64

In [8]:
data.groupby('School Name')['Grade'].nunique() #?

School Name
Akk Merkez            10
Bogazici              10
Dayanisma Okullari     8
Fen Bilimleri          8
Gul Okullari          11
Koyun Okullari        10
Maya Okullari         10
Portakal Okullari     11
Sevgi Okullari        11
Spor Okullari          9
Name: Grade, dtype: int64

In [11]:
ortalama_katilim_yuzdesi = data.groupby('School Name')['Attendance Percentage'].mean() 
print(ortalama_katilim_yuzdesi)
#En yuksek katilimli okulu bulmak icin birden fazla sinif oldugundan dolayi ortalama katilimi aldik.

School Name
Akk Merkez            45.952381
Bogazici              51.600000
Dayanisma Okullari    45.263158
Fen Bilimleri         51.666667
Gul Okullari          62.400000
Koyun Okullari        49.838710
Maya Okullari         45.576923
Portakal Okullari     43.928571
Sevgi Okullari        57.142857
Spor Okullari         52.750000
Name: Attendance Percentage, dtype: float64

In [13]:
#Burada gpt den yardim aldim. 
#idxmax i ilk kez duyuyorum.
en_yuksek_katilimli_okul = ortalama_katilim_yuzdesi.idxmax()
en_yuksek_katilim_yuzdesi = ortalama_katilim_yuzdesi.max()
print(en_yuksek_katilimli_okul)
print(en_yuksek_katilim_yuzdesi)

Gul Okullari
62.4

In [27]:
okul_ogrenci_katilim_yuzdesi = data.groupby(['School Name','Student Name'])['Attendance Percentage'].mean().reset_index()

In [28]:
okul_ogrenci_katilim_yuzdesi

       School Name                  Student Name  Attendance Percentage
0       Akk Merkez                    Abdiş Akar                   50.0
1       Akk Merkez  Av. Sırriye Yıldırım Demirel                   35.0
2       Akk Merkez                 Berksay Demir                   25.0
3       Akk Merkez     Dr. Merba Durgadin Arslan                   85.0
4       Akk Merkez    Dr. Sarya Züheyla Akgündüz                   40.0
..             ...                           ...                    ...
245  Spor Okullari                Taciddin Güçlü                   15.0
246  Spor Okullari          Toktuğ Türkalp Seven                  100.0
247  Spor Okullari     Uğurtan Açıkel Durdu Akça                   65.0
248  Spor Okullari        Şadıman Meyhanim Şener                   25.0
249  Spor Okullari                  Şekim Tarhan                   85.0

[250 rows x 3 columns]

In [29]:
okul_ogrenci_katilim_yuzdesi = okul_ogrenci_katilim_yuzdesi.sort_values(by='Attendance Percentage', ascending=False)

In [31]:
okul_ogrenci_katilim_yuzdesi

,School Name,Student Name,Attendance Percentage
108,Gul Okullari,Soyselçuk Celilay Fırat,100.0
246,Spor Okullari,Toktuğ Türkalp Seven,100.0
147,Koyun Okullari,Öğr. Nalân Gülsiye Yaman Bilgin,100.0
20,Akk Merkez,Öğr. Göknur Çetin,100.0
206,Sevgi Okullari,Birben Özge Çetin,100.0
...,...,...,...
140,Koyun Okullari,Okt. Kaygusuz Çetin,5.0
84,Fen Bilimleri,Seyhan Mahigül Çetin Akça,5.0
60,Dayanisma Okullari,Seha Sakarya,5.0
58,Dayanisma Okullari,Nasiba Zülbiye Alemdar,5.0
122,Koyun Okullari,Ayşenur Rıfkıye Erdoğan Ergül,5.0

In [ ]:
*En cok/en az katilim kacinci siniflarda oluyor?

In [36]:
okul_sinif_katilim_yuzdesi = data.groupby(['School Name'])['Grade'].mean().reset_index()
okul_sinif_katilim_yuzdesi

          School Name     Grade
0          Akk Merkez  7.380952
1            Bogazici  6.040000
2  Dayanisma Okullari  6.947368
3       Fen Bilimleri  5.740741
4        Gul Okullari  6.040000
5      Koyun Okullari  6.064516
6       Maya Okullari  6.461538
7   Portakal Okullari  5.892857
8      Sevgi Okullari  6.785714
9       Spor Okullari  7.150000

In [37]:
okul_sinif_katilim_yuzdesi = okul_sinif_katilim_yuzdesi.sort_values(by = 'Grade', ascending= False)
okul_sinif_katilim_yuzdesi

          School Name     Grade
0          Akk Merkez  7.380952
9       Spor Okullari  7.150000
2  Dayanisma Okullari  6.947368
8      Sevgi Okullari  6.785714
6       Maya Okullari  6.461538
5      Koyun Okullari  6.064516
1            Bogazici  6.040000
4        Gul Okullari  6.040000
7   Portakal Okullari  5.892857
3       Fen Bilimleri  5.740741